:root {
  --background-gray: rgb(25, 25, 25);
  --calc-orange: rgb(233, 154, 8);
  --calc-lightgray: rgb(226, 226, 226);
  --calc-padborders: rgb(128, 128, 128);
  --calc-darkkeys: rgb(169, 169, 169);
  --calc-keysactive: rgb(197, 197, 197);
}

/* universal zero */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

::-webkit-scrollbar { 
  display: none; /* Chrome Safari */
}

body {
  font-family: sans-serif;
  display: flex;
  width: 100vw;
  height: 100vh;
  place-content: center;
  place-items: center;
  background-color: var(--background-gray);
}

/* calculator */
.calc__frame {
  height: 26rem;
  width: 18rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  background-color: var(--calc-orange);
  border: 1em solid var(--calc-orange);
  border-radius: 0.7rem;
}

.calc__display {
  display: flex;
  background: var(--calc-lightgray);
  width: 16rem;
  height: 3rem;
  margin-bottom: 1rem;
  padding: 0 0.5rem;
  border: 0.1rem solid gray;
  border-radius: 0.5em;
}

.calc__displaytext {
  width: 100%;
  align-self: center;
  text-align: right;
  font-size: 2rem;
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.calc__keypad {
  background: var(--calc-lightgray);
  width: 16rem;
  height: 20rem;
  display: grid;
  background-color: inherit;
}

.calc__btn {
  border: none;
  background-color: var(--calc-lightgray);
  font-size: 1.5rem;
  font-family: inherit;
}

/* button animation */
.calc__btn:active {
  background-color: var(--calc-keysactive);
}

/* keypad darker keys */
.calc__column3, .calc__row0 {
  background-color: var(--calc-darkkeys);
}

/* keypad rounded corners */
.calc__row0.calc__column0 {
  border-radius: 0.5em 0 0 0;
}

.calc__row0.calc__column3 {
  border-radius: 0 0.5em 0 0;
}

.calc__row4.calc__column3 {
  border-radius: 0 0 0.5em 0;
}

.calc__row4.calc__column0 {
  border-radius: 0 0 0 0.5em;
}

/* keypad border */
.calc__row0 {
  border-top: 0.1rem solid var(--calc-padborders);
}
.calc__row4 {
  border-bottom: 0.1rem solid var(--calc-padborders);
}
.calc__column0 {
  border-left: 0.1rem solid var(--calc-padborders);
}
.calc__column3 {
  border-right: 0.1rem solid var(--calc-padborders);
}